appdirs==1.4.4
asgiref==3.2.10
certifi==2022.5.18.1
charset-normalizer==2.0.12
distlib==0.3.1
Django==3.0.3
django-markdown-deux==1.0.5
filelock==3.0.12
idna==3.3
Markdown==3.3.2
markdown2==2.3.10
Pillow==8.0.1
pytz==2020.1
requests==2.27.1
six==1.15.0
sqlparse==0.3.1
stripe==3.2.0
typing-extensions==3.10.0.2
urllib3==1.26.9
virtualenv==20.1.0
