@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

.user {
    position: absolute;
    right: 0px;
    padding: 10px;
}

.user a {
    text-decoration: none;
}

body {
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.main_content {
    overflow-y: auto;
    height: 95vh;
}

.navbar-nav {
    background-color: whitesmoke;
    width: fit-content;
    border-radius: 10px;
    padding: 0 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.navbar {
    height: 60px;
}


.navbar .navbar-brand {
    color: red;
}

.navbar-nav #log_out {
    margin-left: auto;
}

.carousel {
    margin: 3vh auto 0 auto;
    width: 470px;
    overflow: hidden;
}

.profile_image {
    width: 470px;
    max-width: 100%;
}

.carousel img {
    width: 470px;
    object-fit: cover;
    max-width: 100%;
}

/* style for container */
.container {
    display: flex;
    flex-direction: row;
    width: 90vw; 
    flex-wrap: wrap; /* Allow items to wrap onto the next line */
}

.listing-details {
    padding: 10px;
}

/* style for image class within the container */
.listing-details .images {
    max-width: 100%; /* Ensure the image doesn't exceed its natural size */
    height: 300px; /*Maintain the aspect ratio of the image */
}

/* style for description class within the container */
.listing-details .listing-content {
    margin-top: 10px;
    width: 100%; /* Set the width of the description to 100% */
}

.listing_image_link {
    display: inline-block;
}

.listing_image {
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    max-height: 300px;
}
.image-container {
    display: flex; /* put img into a horizontal flex row */
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

.message-donations {
    margin: auto;
    margin: 3vh 3vw 3vh 3vw;
}

.message {
    text-align: center;
}

.message h3 {
    color: purple;
    font-weight: bold;
}

.message p {
    font-size: 20px;
    font-style: italic;
    margin: 30px;
    font-weight: bold;
}

.buttons {
    text-align: center;
    margin: 20px;
}

.buttons button {
    height: 70px;
    width: 200px;
    margin-left: 50px;
    font-size: 20px;
    box-shadow: 2px 2px 5px rgba(240, 57, 33, 0.945);
}

#donate-now {
    color: white;
    background-color: red;
}

.message-donations {
    text-align: center;
}

.message-donations h3 {
    color: purple;
    font-weight: bold;
}

.registation button {
    height: 60px;
    width: 300px;
    font-size: 20px;
    box-shadow: 2px 2px 5px rgba(33, 240, 60, 0.945);
    margin-top: 20px;
}

#regis {
    background-color: rgb(18, 155, 18);
}

.category_button {
    margin-top: 20px;
    height: 35px;
    width: 200px;
    border-radius: 6px;
    margin-left: 10px;
}

.location, 
.offer_count,
.email_address {
    height: 40px;
    width: 40px;
}

.request_count {
    height: 40px;
    width: 80px;
}

.profile_info {
    font-size: 30px;
}

.intro {
    font-size: 24px;
    margin: 10px;
}


.donate_form {
    height: 600px;
    max-width: 600px;
    padding: 10px;
}

.paymentFrequency,
.amount_buttons,
.amount_other {
    display: inline-flex;
    width: 100%;
    padding-top: 10px;
}

.amount_other span {
    white-space: nowrap;
    text-align: center;
    margin-left: 10px;
}

.button,
.amount_other  {
    width: 100%;
    height: 50px;
}

.amount_other form {
    width: 100%;
}


.amount_buttons,
.countries {
    margin: 10px 0px 10px;
}

.amount_other input {
    padding-left: 10px;
    border: none;
    outline: none;
    width: 100%;
}

.amount_other {
    border: solid 1px black;
    background-color: white;
    vertical-align: middle;
}

.countries,
.country_button {
    height: 35px;
}

.usd {
    margin-top: 13px;
}

.button:hover {
    background-color: rgb(195, 240, 241);
}

.selected:hover,
.selected {
    color: white;
    background-color: #135cb0;
}
.donate {
    height: 55px;
    width: 175px;
    background-color: brown;
    color:white;
}

.about-us-image-container img {
    width: 100%;
}

.about-us-image-container {
    text-align: center;
    color: black;
}

.our-impact {
    text-align: center;
    color: red;
    font-weight: 800;
}

.message-our-impact {
    margin: 10px;
}

.message-our-impact h4 {
    margin-top: 50px;
    color: purple;
    font-weight: bold;
}

.flex-container {
    margin: 0 3vw 3vh 3vw;
    display: flex;
    flex-wrap: wrap-reverse;
    font-size: 20px;
    text-align: center;
  }
  
  .needed-funds {
    background-color: #ddb1b1;
    padding: 10px;
    flex: 50%;
  }
  
  .received-funds {
    background-color: rgb(72, 214, 195);
    padding: 10px;
    flex: 50%;
  }

  .new_list,
  .profile_page,
  .profile_info,
  .email_address,
  .location,
  .offer_count,
  .request_count,
  .container_success,
  .container_cancel,
  .login {
    padding: 10px;
  }

  @media only screen and (max-width: 600px) {
    .needed-funds, 
    .received-funds {
      flex: 100%;
    }
}
  
  @media screen and (min-width: 768px) {
    .listing-details {
      flex-basis: calc(50% - 20px);
    }
  }
  
  @media screen and (min-width: 992px) {
    .listing-details {
      flex-basis: calc(33% - 20px);
    }
  }
  
  @media screen and (min-width: 1200px) {
    .listing-details {
      flex-basis: calc(20% - 20px);
    }
  }

