{% extends "donation/layout.html" %}
{% load static %}

{% block main_content %}
{% load static %}

<div class="container">
    <div class="about-us-image-container">
        <img src="/media/images/about_us_image.jpg">
        <div class="centered-text"><h1>How We Change The World</h1></div>
    </div>
</div>
<div class="message">
    <h3>Our Donations makes it easy for anyone to support communities around the world by bringing joy and helping other families.</h3>
    <p>“Coming together is a BEGINNING… keeping together is a PROGRESS… working together is SUCCESS…”
        -Henry Ford </p>
</div>
<div class="flex-container">
    <div class="needed-funds">
        {% if total_shipping_cost == 0 %}
            <p>Please help us collect funds and ship packages that families are waiting for.</p>
        {% else %}
            <p>Please help us collect ${{total_shipping_cost}} and ship our packages that families are waiting for.</p>
        {% endif %}
    </div>
    <div class="received-funds">
        <p>Thank you for you generous donations!!! Together we collected ${{total_received_amount}}!</p>
    </div>
</div>
<div class="our-impact">
    <h2>Our Impact</h2>
</div>
<div class="message-our-impact">
    <h4>Protect the Planet</h4>
        <p>Each year, the average American disposes of nearly 70 pounds of used clothing, which amounts to 16 million tons for the entire United States. About 40% of the nation’s consumers say they donate unwanted apparel to charities­, which appears beneficial to those in need and the environment. However, data suggests that 85% of those donations will end up in a landfill where they can decompose and release greenhouse gases, leach dyes, and other harmful chemicals into the ground and water supplies. <strong>By donating your clothes directly to a family that needs them, you can close this cycle and protect our planet.</strong></p>
    <h4>Help Other in Needs</h4>
        <p>Donating your clothes is one of the easiest ways to support people in needs. Every single donation, no matter how big or small, makes a meaningful difference in the lives of people within your community! To see for yourself, read some of the employment Success Stories of the individuals Goodwill has been proud to serve. We promise you’ll be inspired!</p>
    <h4>Keep Your Home Clean</h4>
        <p>We all want to maintain a clean, organized home, but sometimes it’s easier said than done if your closets are overflowing with clothes, shoes, or accessories that you don’t wear anymore! Clearing out your closets doesn’t have to be a lot of hard work. Keep a box in your wardrobe and add any items you don’t want, need, or wear. When the box is full, donate your items!</p>
</div>


{% endblock %}