{% extends "donation/layout.html" %}
{% load static %}

{% block body %}

<div class="donate_form">
    <div class="message">Giving Is The Greatest Act Of Grace</div>
    <div class="paymentFrequency">
        <button class="button" id ="monthly">
            Monthly
        </button>
        <button class="button selected" id ="one_time">
            One-time
        </button>
    </div>
    <div class="usd">Donation amount (USD)</div>

    <div class="amount_buttons">
        {% for price in prices %}
        <button class="button">
            ${{ price.get_display_price }}
            <form style="display: none" action="{% url 'stripe_checkout' session_mode='payment' price_id=price.id %}" method="POST">
                {% csrf_token %}
            </form>
        </button>
        {% endfor %}
    </div>
    
    <div class="amount_other">
        <span>Other: $</span>
        <form action="{% url 'stripe_checkout' session_mode='payment' price_id=0 %}" method="POST">
            <input type="text" name="value_price" id="value_price"> 
        </form>
    </div>

    <div class="countries">
        <span>*Country: </span>
        <select class="country_button">
            {% for country in countries %}
                {% if country.name == 'United States' %}
                    <option selected="selected">{{ country.name }}</option>
                {% else %}
                    <option>{{ country.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <button class="donate" type="button">Donate</button>
</div>

{% endblock %}