{% extends "donation/layout.html" %}
{% load static %}
{% block main_content %}

    <div class="listing-details">
        <div class="images">
            <a href="{% url 'listing' listing.id %}">
                <img class="listing_image" src="/media/{{ listing.images }}">
            </a>
        </div>
        <div class="listing-content">
            <div>
                <a href="{% url 'listing' listing.id %}">
                    <strong>{{ listing.title }}</strong><br>
                </a>
                <div>
                    <strong>Description: </strong> {{ listing.description}}    
                </div>
                <div>
                    <strong>Categories: </strong> 
                    {% for category in listing.categories.all %} 
                        {{ category.name }} 
                    {% endfor %}
                </div>
                <div>
                    <strong>Posted by: </strong> {{ listing.owner }}
                </div>
                <div>
                    <strong>Posted on: </strong> {{ listing.post_date }}  
                </div>
                <div>
                    <strong>Who Pays: </strong> {{ listing.who_pays }}  
                </div>
                <div>
                    <div>
                        {% if listing.shipping_cost is not None %}
                        <strong>Delivery Cost: </strong> ${{ listing.shipping_cost }}
                        {% endif %} 
                    </div>
                </div>
                {% if user.is_authenticated and user != listing.owner %}
                <div class="message">
                    {% if listing.shipping_cost == 0 %}
                        <strong> Congratulation, your delivery is paid by the donor! </strong>
                        <div class="flex-container" id="option_claim">
                            <div>Ready to Claim?</div>
                            <form action="{% url 'claim_offer' listing_id=listing.id is_paying='False' %}" method="POST">
                                {% csrf_token %}
                                <br><button type='submit'>Get It Now</button>
                            </form>
                        </div>
                    {% else %}
                        <strong> Please keep in mind that you need to pay ${{ listing.shipping_cost }} delivery fee! </strong><br>
                        <div class="flex-container" id="option_claim">
                            <div>Ready to Claim?</div>
                            <form action="{% url 'claim_offer' listing_id=listing.id is_paying='True' %}" method="POST">
                                {% csrf_token %}
                                <button type='submit' name="paying">Get It Now</button>
                            </form>
                            <form action="{% url 'claim_offer' listing_id=listing.id is_paying='False' %}" method="POST">
                                {% csrf_token %}
                                <button type='submit' name="sponsor">Request a Sponsor</button>
                            </form>
                        </div>
                    {% endif %}
                </div>

                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}