{% extends "donation/layout.html" %}
{% load static %}
{% block body %}

{% for listing in listings %}
<div class="listing-details">
    <div class="images">
        <a href="{% url 'listing' listing.id %}">
            <img src="/media/{{ listing.images }}">
        </a>
    </div>
    <div class="content">
        <div>
            <div>
                <a href="{% url 'listing' listing.id %}">
                    <strong>{{ listing.title }}</strong>
                </a>    
            </div>
            <div>
                <strong>Description: </strong>{{ listing.description|truncatechars:45 }}
            </div>
            <div>
                <strong>Posted by: </strong><a href="{% url 'profile_page' listing.owner.id %}"> {{ listing.owner }} </a>
            </div>
            <div>
                <strong>Posted on: </strong>{{ listing.post_date }}
            </div>
        </div>
    </div>
</div>
{% empty %}
    <h6>The are no listings available!</h6>
{% endfor %}

{% endblock %}