{% extends "donation/layout.html" %}
{% load static %}
{% block main_content %}

<div class="container">
{% for listing in listings %}
<div class="listing-details">
    <div class="images">
        <a class="listing_image_link" href="{% url 'listing' listing.id %}">
            <img class="listing_image" src="/media/{{ listing.images }}">
        </a>
    </div>
    <div class="content">
        <div>
            <div>
                <a href="{% url 'listing' listing.id %}">
                    <strong>{{ listing.title }}</strong>
                </a>    
            </div>
            <div>
                <strong>Description: </strong>{{ listing.description|truncatechars:45 }}
            </div>
            <!--
            <div>
                <strong>Posted by: </strong><a href="{% url 'profile_page' listing.owner.id %}"> {{ listing.owner }} </a>
            </div>
            <div>
                <strong>Posted on: </strong>{{ listing.post_date }}
            </div>
            {% if listing.recipient is not None %}
            <div>
                <strong>Claimed by: </strong><a href="{% url 'profile_page' listing.recipient.id %}">{{ listing.recipient.first_name }} {{ listing.recipient.last_name }}</a> on {{ listing.claimed_time }}
            </div>
            {% endif %}
            -->
        </div>
    </div>
</div>
{% empty %}
    <h6>The are no listings available!</h6>
{% endfor %}
</div>

{% endblock %}