{% extends "donation/layout.html" %}
{% load static %}
{% block body %}

    <div class="listing-details">
        <div class="images">
            <a href="{% url 'listing' listing.id %}">
                <img src="/media/{{ listing.images }}">
            </a>
        </div>
        <div class="listing-content">
            <div>
                <a href="{% url 'listing' listing.id %}">
                    <strong>{{ listing.title }}</strong><br>
                </a>
                <div>
                    <strong>Description: </strong> {{ listing.description}}    
                </div>
                <div>
                    <strong>Categories: </strong> 
                    {% for category in listing.categories.all %} 
                        {{ category.name }} 
                    {% endfor %}
                </div>
                <div>
                    <strong>Posted by: </strong> {{ listing.owner }}
                </div>
                <div>
                    <strong>Posted on: </strong> {{ listing.post_date }}  
                </div>
                <div>
                    <strong>Who Pays: </strong> {{ listing.who_pays }}  
                </div>
                <div>
                    <div>
                        {% if listing.delivery_cost is not None %}
                        <strong>Delivery Cost: </strong> ${{ listing.delivery_cost }}
                        {% endif %} 
                    </div>
                </div>
                {% if user.is_authenticated and user != listing.owner %}
                <div class="message">
                    {% if message %}
                        {{message}}
                    {% endif %}
                </div>
                    <form action="{% url 'claim_offer' listing.id %}" method="POST">
                        {% csrf_token %}
                        <button type='submit'>Claim Donation</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}